/* RESET GENERAL */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    background-color: #000000ff;
    color: #102110;
}

/* =================================== HERO (solo en index.html) =============== */

.hero {
    position: relative;
    height: 100vh; /* ocupa toda la pantalla */
    background: url("../img/Global/Fondo_A.jpg") no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 0 20px;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* capa oscura est谩tica */
}

.hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.hero__content {
    position: relative;
    z-index: 2; /* para que quede encima del overlay */
    max-width: 800px;
}

.hero__content h1 {
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.1; 
}

.hero__content p {
    margin-bottom: 30px;
    font-size: 1.2rem;
}

.Home_Hero_btn {
    display: inline-block;
    padding: 12px 24px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 0px;
    transition: all 0.3s ease;
    background:  rgba(0, 0, 0, 0.3); /* capa oscura est谩tica */
    border: 2px solid #fff;
    color: #fff;
    font-size: 1rem;
}

.Home_Hero_btn:hover {
    background: rgba(255, 255, 255, 0.15);
}

/* Bot贸n primario (Cotizar) */
.Home_Hero_btn-primario {
    display: inline-block;
    padding: 12px 24px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 0px;
    transition: all 0.3s ease;
    background: #edd51eff;
    color: #3d3d3dff;
    font-size: 1rem;
}

.Home_Hero_btn-primario:hover {
    background: #e6c200;   /* tono m谩s oscuro al pasar el mouse */
    border-color: #e6c200;
    color: #282828ff;
}

/* ----------------- Bloque de estad铆sticas ---------------- */

.stats {
    position: absolute;
    bottom: -50px; /* flota sobre el hero */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    background: rgba(0, 0, 0, 0.6); /* negro semi-transparente */
    width: 70%;
    max-width: 1250px;
    border-radius: 0px;
    padding: 30px 40px 30px 40px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    z-index: 10;
    border: 1px solid rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(3px); /* opcional: efecto vidrio */
}

.stats__item {
    text-align: center;
}

.stats__item h2 {
    font-size: 2.5rem;
    margin-bottom: 0;
    font-weight: 400;
    color: #ffffffff; /* Amarillo para destacar los n煤meros */
}

.stats__item p {
    font-size: 0.9rem;
    color: #fff;
    opacity: 1;
    line-height: 1.4;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* --- Versi贸n responsive para m贸viles --- */
@media (max-width: 768px) {
    .stats {
        position: absolute;       /* sigue flotando */
        top:80%;                 /* s煤belo/b谩jalo ajustando este valor */
        left: 50%;                /* centrado horizontal */
        transform: translateX(-50%, -50%); 
        z-index: 20;

        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2 columnas */
        gap: 15px;

        width: 90%;               /* m谩s angosto para m贸vil */
        max-width: 400px;
        margin: 0 auto;
        padding: 30px 30px 50px 30px;
        background: #111;
        border-radius: 0px;
        box-sizing: border-box;
    }

    .stats__item {
        text-align: center;
    }

    .stats__item h2 {
        font-size: 1.6rem;
    }

    .stats__item p {
        font-size: 0.75rem;
    }
}

/* --- Secci贸n Sobre Nosotros --- */
.about {
    padding: 80px 20px; /* hace que la secci贸n respire */
    background: #f8f8f8;
    text-align: center;
}

.about__title {
    font-size: 2rem;
    margin-top: 50px;
    margin-bottom: 70px;
    font-weight: 400;
    color: #102110;
}

/* Fila principal: texto + imagen */

.about__row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    max-width: 1152px;
    margin: 0 auto 80px auto;
    flex-wrap: wrap; /* se acomoda en mobile */
}

.about__info {
    flex: 1 1 400px;
    text-align: left;
}

.about__info h3 {
    font-size: 1.6rem;
    margin-bottom: 15px;
    font-weight: 400;
}

.about__info p {
    font-size: 1rem;
    margin-bottom: 20px;
    line-height: 1.5;
}

.about__image {
    flex: 1 1 400px;
}

.about__image img {
    width: 100%;
    border-radius: 0px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.Sobre_Nosotros_btn {
    display: inline-block;
    background: #102110;
    color: #fff;
    padding: 12px 30px;
    border-radius: 0px;
    text-decoration: none;
    transition: background 0.3s;
    font-size: 0.9rem;    
}

.Sobre_Nosotros_btn:hover {
    background: #334a33;
}

/* ========================= Segunda fila (MISIN - VISIN - NUESTROS CLIENTES) ========================*/

.about__cards {
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: -40px;
    padding: 0 20px;
}

.about__cards .card {
    flex: 1 1 300px;
    background: url("../img/degrades/deg_2.jpg") no-repeat center center/cover;
    border-radius: 0px;
    overflow: hidden;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.35);
    transition: transform 0.3s;
    text-decoration: none; /* quitar subrayado */
    color: inherit; /* heredar colores */
    display: block;
}

.about__cards .card:hover {
    transform: translateY(-5px);
}

.card__image img {
    width: 100%;
    display: block;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.card__content {
    padding: 20px;
    text-align: center;
}

.card__content h3 {
    margin-bottom: 10px;
    font-size: 1.70rem;
    font-weight: 400;
    margin: 5px 10px 10px 10px;
    color: #ddddddff;
}

.card__content p {
    font-size: 0.95rem;
    line-height: 1.4;
    color: #e4e4e4ff;
    margin: 5px 10px 20px 10px;
}

/* ========================= Secci贸n Nuestros Servicios ========================*/
/* Secci贸n de servicios */
.servicios {
    padding: 80px 20px;
    background-color: #ffffffff;
    text-align: center;
}

.servicios-titulo {
    font-size: 2rem;
    margin-bottom: 50px;
    font-weight: 400;
    color: #282828ff;
}

.servicios-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3px;
    max-width: 1200px;
    margin: 0 auto;
}

.servicios-card {
    display: block;
    border-radius: 0px;
    overflow: hidden;
    text-decoration: none;
    color: #fff;
    height: 1000px;
    position: relative;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.servicios-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 16px rgba(0,0,0,0.2);
}

.servicios-card-bg {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.servicios-card-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background: linear-gradient(to top, rgba(0,0,0,0.7), transparent);
    text-align: left;
}

.servicios-card-content h3 {
    font-size: 1.2rem;
    margin-bottom: 8px;
    font-weight: 400;
    color: #fff;
    line-height: 1.2;
}

.servicios-card-content p {
    font-size: 0.9rem;
    color: #ddd;
}

/* Desktop (grande) */
@media (min-width: 1025px) {
    .servicios-cards {
    grid-template-columns: repeat(4, 1fr);
    }
    .servicios-card {
    height: 400px; /* m谩s compactas */
    }
}

/* Tablet (mediano) */
@media (min-width: 601px) and (max-width: 1024px) {
    .servicios-cards {
    grid-template-columns: repeat(2, 1fr);
    }
    .servicios-card {
    height: 350px;
    }
}

/* M贸vil (peque帽o) */
@media (max-width: 600px) {
    .servicios-cards {
    grid-template-columns: 1fr;
    }
    .servicios-card {
    height: 300px;
    }
}
/* ============================ Secci贸n Sectores Trabajados ============================= */

.ir-a-proyectos {
    background-color: #f5f5f5; /* puedes cambiar a otro color o imagen */
    padding: 80px 20px;
    text-align: center;
}

.ir-a-proyectos h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: 400;
}

.ir-a-proyectos p {
    font-size: 1.1rem;
    margin-bottom: 30px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.boton-proyectos {
    display: inline-block;
    padding: 12px 30px;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    text-decoration: none;
    border-radius: 0px;
    font-weight: bold;
    transition: background 0.3s;
    font-size: 0.9rem; 
    font-weight: 600;
}

.boton-proyectos:hover {
    background: rgba(255, 255, 255, 0.15);
}

.ir-a-proyectos {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    background-image: url('../img/Global/proyectos_index2.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    position: relative;
    margin-top: 80px 0px 80px 0px;
    overflow-x: hidden;
}

html, body {
    overflow-x: hidden;
}

.ir-a-proyectos::before {
    content: "";
    position: absolute;
    top:0; left:0; right:0; bottom:0;
    z-index: 1;
}

.ir-a-proyectos .contenedor {
    position: relative;
    z-index: 2;
    max-width: 1600px;  /*  ancho m谩ximo */
    margin: 0 auto;     /*  centrado */
    padding: 0 20px;    /*  espacio lateral para que no pegue a los bordes */
}

